body {
    min-height: 100vh;
    min-width: 100vw;
}
.calculator {
    width: 100%;
    max-width: 350px;
}

.btn {
    aspect-ratio: 1;
    font-weight: bold;
    font-size: larger;
    border-radius: 50%;
}
.btn-success {
    border-radius: 0;
    height: 62px;
    border-radius: 10px;
}