.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blog-post {
    width: 60%;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    background: var(--bg-gradient);
    display: grid;
    place-content: center;
}