#contact {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
#contact form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--bg-gradient);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px var(--text-color);
    padding: 30px;
}
form #name, #email {
    height: 30px;
}
form #message {
    height: 400px;
}
form button {
    margin: 10px;
    width: 70px;
    height: 35px;

}
form #label-text {
    font-size: 18px;
    color: var(--text-color);
}